In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [3]:
df.head()

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

In [5]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]] , columns=["p","q","r"], index=['x','y','z'])
df.head()

   p  q  r
x  1  2  3
y  4  5  6
z  7  8  9